# -------------
# Files
# -------------
.DS_Store
.Spotlight-V100
.Trashes
.AppleDouble
.LSOverride
Icon
._*
.*
*~
.*.sw[a-z]
*.un~
*.tmp
*.bak
*.swp
*~.nib


# -------------
# $this
# -------------
.gituser


# -------------
# Override
# -------------
!.gitignore
!.htaccess


# -------------
# Basics
# -------------
node_modules/
components/
.sass-cache
vendor/
Session.vim
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath