[include]
    path = ~/.git_user

[core]
    autocrlf = input
    excludesfile = ~/.gitignore_global

[push]
    default = current

[color]
    ui = true

[color "status"]
    added = green bold
    branch = magenta
    changed = yellow bold
    header = cyan
    untracked = red bold

[alias]
    # Gsit
    st = status
    ci = commit
    co = checkout
    cb = checkout -b
    br = branch
    fe = fetch
    log-last = log --stat -1
    log-list = log --pretty=fuller
    info = !git branch -av && git remote -v

    # git-flow
    fid = flow init -d
    ffs = flow feature start
    fff = flow feature finish
    frs = flow release start
    frf = flow release finish
    fhs = flow hotfix start
    fhf = flow hotfix finish

