.DS_Store
._*
.Spotlight-V100
.Trashes
.*
*~
*.swp
.AppleDouble
.LSOverride
Icon

!.gitignore
!.htaccess

node_modules/
components/
.sass-cache
vendor/
.*.sw[a-z]
*.un~
Session.vim
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath