# -------------
# Files
# -------------

## OS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
._*
.*
*~
.*.sw[a-z]
*.un~
*.tmp
*.bak
*~.nib


# -------------
# $this
# -------------
.gituser


# -------------
# Override
# -------------
!.gitignore
!.htaccess


# -------------
# Basics
# -------------
**/node_modules/
**/components/
**/.sass-cache/
**/vendor/


# -------------
# Zend
# -------------
INSTALL.txt
LICENSE.txt
README.txt
demos/
extras/documentation
