[user]
	name = Christian Seidl
	email = seidl@elbdudler.de

[push]
    default = current

[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    fe = fetch
    re = rebase
    ffs = flow feature start
    fff = flow feature finish