[include]
    # -- include git user data from external file
    path = ~/.gituser
    # -- include local additions from external file
    path = ~/.local-additions/git.config

[core]
    autocrlf = input

[push]
    default = current

[color]
    ui = true

[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold


[alias]
    # -- git
    st = status
    ci = commit
    co = checkout
    br = branch
    fe = fetch
    re = rebase
    last = log --stat -1
    list = log --pretty=fuller
    info = remote show origin

    # -- git-flow
    gfi = flow init -d
    ffs = flow feature start
    fff = flow feature finish
    frs = flow release start
    frf = flow release finish
    fhs = flow hotfix start
    fhf = flow hotfix finish